html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.square {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 610px;
    height: 550px;
}

.grid2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 610px;
    height: 550px;
    margin-left: 1000px;
    margin-top: -550px;
    z-index: 1;
}

yes_button {
    position: absolute;
    top: 500px;
    left: 725px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    background: rgb(32, 138, 37);
    border: none;
}

#scoreBoard {
    position: absolute;
    top: 200px;
    left: 40%;
    width: 360px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background: rgb(241, 97, 14);
    border: solid;
    border-color: black;
    border-width: 10px;
}

#player
{
    position: absolute;
    top: 275px;
    left: 40%;
    width: 185.25px;
    height: 40px;
    background: rgb(241, 97, 14);
    border-bottom: 8px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#player2
{
    position: absolute;
    top: 275px;
    left: 804.5px;
    width: 185.25px;
    height: 40px;
    background: rgb(241, 97, 14);
    border-bottom: 8px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#hit
{
    position: absolute;
    top: 323px;
    left: 40%;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#hit2
{
    position: absolute;
    top: 323px;
    left: 804.5px;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#miss
{
    position: absolute;
    top: 361px;
    left: 40%;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#miss2
{
    position: absolute;
    top: 361px;
    left: 804.5px;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#ships_sunk
{
    position: absolute;
    top: 398px;
    left: 40%;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

#ships_sunk2
{
    position: absolute;
    top: 398px;
    left: 804.5px;
    width: 185.25px;
    height: 35px;
    background: rgb(241, 97, 14);
    border-top: 0px;
    border-style: solid;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

player_one_turn_button {
    position: absolute;
    top: 500px;
    left: 725px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

leave_buffer_button {
    position: absolute;
    top: 500px;
    left: 725px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

player_two_turn_button {
    position: absolute;
    top: 500px;
    left: 725px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

play_vs_human_button {
    position: absolute;
    top: 100px;
    left: 620px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

play_vs_ai_button {
    position: absolute;
    top:  100px;
    left: 850px;
    width: 8%;
    height: 8%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(241, 97, 14);
    border: none;
}

easy_button {
    position: absolute;
    top: 50px;
    left: 700px;
    width: 8%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(76 255 0);
    border: none;
}

medium_button {
    position: absolute;
    top: 100px;
    left: 700px;
    width: 8%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(255 106 0);
    border: none;
}

hard_button {
    position: absolute;
    top: 150px;
    left: 700px;
    width: 8%;
    height: 5%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(255 0 0);
    border: none;
}
